@media only screen and (min-width: 769px) {
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("../img/desktop_img/chicken.jpg"); /* Adjust the path as needed */
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  header {
    padding: 10px;
    text-align: right;
  }
  .logo-text {
    text-align: left;
  }

  .logo-main {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    color: black; /* Adjust the color as needed */
  }

  .logo-sub {
    font-size: 12px;
    margin: 0;
    color: bl; /* Adjust the color as needed */
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav li {
    display: inline;
    margin-right: 15px;
  }

  .nav-button {
    text-decoration: none;
    color: black;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
  }

  .nav-button:hover {
    background-color: #f1812f;
    color: white;
    border-color: #f1812f;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .center-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    margin-bottom: 0px; /* Reduce the margin to create less space between the box and the button */
  }

  .logo-text {
    display: flex;
    align-items: center;
  }

  .logo-text img {
    max-width: 100px;
    margin-right: 20px; /* Adjust the margin as needed */
  }

  .logo-text div {
    text-align: left;
  }

  button {
    margin-top: 10px; /* Reduce the margin to create less space between the box and the button */
    padding: 20px; /* Adjust the padding to match the box size */
    background-color: white;
    color: black; /* Set text color to black */
    border: 1px solid #f1812f;
    border-radius: 10px; /* Adjust the border radius to match the box */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
  }

  button:hover {
    background-color: #f1812f;
    color: white;
  }
}
